#include: 'https://gitlab.i22.de/tools/gitlab-ci-includes/raw/master/security_ruby.yml'

image: gitlab.i22.de:5001/docker/i22-ubuntu:18.04

variables:
  RAILS_ENV: test
  ELASTICSEARCH_URL: 'http://elasticsearch:9200'
  ES_JAVA_OPTS: '-Xms750m -Xmx750m'
  REDIS_URL: redis://redis:6379/0
  QT_QPA_PLATFORM: 'offscreen'

services:
  - name: gitlab.i22.de:5001/docker/i22-ubuntu/postgresql:18.04
    alias: postgres
  # - name: docker.elastic.co/elasticsearch/elasticsearch:6.8.1
  #   alias: elasticsearch
  #   command: [ "bin/elasticsearch", "-Expack.security.enabled=false", "-Ediscovery.type=single-node" ]

.build_cache: &build_cache
  #key: "$CI_COMMIT_REF_SLUG"
  paths:
    - vendor/bundle


before_script:
  - echo "$RAILS_MASTER_KEY" > config/master.key
  #- apt-get install phantomjs
  - bin/ci_setup


rubocop:
  script:
    - bundle exec rubocop

  cache:
    <<: *build_cache
    policy: pull

test:
  script:
    #- curl 'http://elasticsearch:9200/_cat/health'
    - bundle exec rake
    #- bundle show rspec && bundle exec rspec || true

  cache:
    <<: *build_cache
    policy: pull
